*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background-color: #12203E;
  color: white;
  line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}




button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

